body {
  background-color: rgba(41, 92, 116, 0.4);
}

.main {
  background: center/200% url("../img/pink_clouds.jpg");
  font-family: "Poppins", sans-serif;
  color: #2d4059;
  display: block;
  margin: 20px auto;
  width: fit-content;
  border-radius: 10px;
}

.current-location {
  list-style: none;
  padding-left: 5px;
  padding-top: 5px;
}

.current-location2 {
  list-style: none;
  padding-left: 0px;
  font-size: 13px;
  text-align: left;
}

#button-weather {
  margin-top: 20px;
}

.temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
}

.units {
  position: relative;
  top: -24px;
}

.sun-icon {
  color: rgb(247, 247, 72);
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
  width: 120px;
}

.form-field {
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.btn {
  background: rgba(251, 245, 194, 0.3);
  border: none;
  color: rgb(16, 12, 51);
}

.five-day-weather {
  background: rgba(251, 245, 194, 0.3);
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.days-weather {
  list-style: none;
  padding: 0px;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
hr {
  color: white;
}
.link {
  color: white;
}

.link:hover {
  color: #eccdd4;
}
